node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.idea
.vscode
*.log
.DS_Store
Thumbs.db
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/build